:root {
  --c-grey-900: #160c0c;
  --c-grey-700: #505050;
  --c-grey-100: #eee;
  --c-white: #fff;
  --c-red: #ce1b1b;
  --c-blue: #1b63ce;
  --c-yellow: #dccb30;
}

html,
body {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: var(--c-grey-900);
  background-image: url(img/bg.svg);
  background-size: cover;
  background-position: center;
  color: var(--c-white);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

a {
  color: var(--c-white);
}

label {
  display: block;
}

button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h1 {
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.8rem;
  font-style: italic;
}

@media (min-width: 600px) {
  h1 {
    margin: 60px 0;
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  h2 {
    font-size: 2.8rem;
  }
}

h3 {
  margin-bottom: 0;
  font-style: italic;
}

.button-primary,
.button-secondary {
  margin: 0;
  padding: 4px 16px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 6px;
  border-width: 2px;
  text-decoration: none;
  cursor: pointer;
}

.button-primary.small,
.button-secondary.small {
  padding: 2px 8px;
  font-size: 1rem;
}

.button-primary {
  background-color: var(--c-white);
  color: var(--c-grey-900);
  border-color: var(--c-white);
}

.button-primary:hover {
  background-color: var(--c-grey-100);
}

.button-secondary {
  background-color: transparent;
  color: var(--c-white);
  border: 2px solid var(--c-white);
}

.button-secondary:hover {
  background-color: var(--c-white);
  color: var(--c-grey-900);
  border-color: transparent;
}

.mb-1 {
  margin-bottom: 1rem;
}